.App {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 1fr .3fr 5fr;
  text-align: center;
  grid-gap: 5px;
  min-height: 100vh;
}
/* Header */
.App-header {
  background-color: rgb(48, 182, 182);
  color: white;
  grid-column-start: 1;
  grid-column-end: 3;
}

.App-title {
  font-size: 1.5em;
}

/*Input section */
.Input-box{
  grid-column-start: 1;
  grid-column-end: 3;
}

/* Comparison */
.Comparison{
  background-color: red;
}

/* Player Section*/

li {
  list-style: none;
}

.Results-box{
  background-color: rgba(202, 137, 17, 0.904);
}
.Results-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  
}
.Player-wrapper{
  /* max-width: 300px; */
  /* background: rgb(182, 76, 34); */
  /* margin: auto;
  width: 25vw;
  padding: 15px; */
} 

.Player-wrapper ul{
  
}