@font-face {
  font-family: 'SFSportsNight';
  src: url('./TrueType/SFSportsNight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App {
  font-family: 'Rubik', sans-serif;
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 1fr .3fr 5fr;
  text-align: center;
  grid-gap: 5px;
  min-height: 100vh;
}

.Title{
  font-family: 'SFSportsNight', sans-serif;
  text-decoration: underline;
  margin-bottom: 10px;
}

button{
  background: white;
  color:black;
  border:none;
  position:relative;
  height:40px;
  font-size:1em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
button:hover{
  background:#fff;
  color:#911002;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #911002;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}


/* Header */
.App-header {
  font-family: SFSportsNight, sans-serif;
  background-color: #911002;
  color: white;
  grid-column-start: 1;
  grid-column-end: 3;
  display:flex;
  align-items: center;
  justify-content: center;
}

h1{
  padding: 0;
  margin: 0;
}

.App-title {
  font-size: 2em;
}

/*Input section */
.Input-box{
  padding: auto;
  margin: auto;
  grid-column-start: 1;
  grid-column-end: 3;
  
}
.Input-box button{
  /* position: relative;
  top: 50%;
  right: 0;
  left: 0; */
}

/* Comparison */
.Comparison{
  color: white;
  background-color: #1e2d47;
}

.Comparison ul li{
  margin-bottom: 7px;
}
/* Player Section*/

li {
  list-style: none;
}

.Results-box{
  background-color: #004f94;
}
.Results-wrapper{
  width: 90%;
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  
}
.Player-wrapper{
  /* max-width: 300px; */
  /* background: rgb(182, 76, 34); */
  /* margin: auto;
  width: 25vw;
  padding: 15px; */
} 

.Player-wrapper ul{
  padding: 0;
}